@model InventoryWeb.Core.Models.Domains.ProductsBase

<div class="modal fade text-lg-start" id="EditProdBaseModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="EditProdModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <form id="editForm-@Model.Id">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edytuj Produkt</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Code" class="control-label" style="font-weight:bolder">Kod:</label>
                        <input asp-for="Code" class="form-control" autofocus id="code" />
                        <span asp-validation-for="Code" class="text-danger"></span>

                        <label asp-for="NameProductDb" class="control-label" style="font-weight:bolder">Jednostka:</label>
                        <input asp-for="NameProductDb" class="form-control" id="name"/>
                        <span asp-validation-for="NameProductDb" class="text-danger"></span>

                        <label asp-for="EachPrice" class="control-label" style="font-weight:bolder">Jednostka:</label>
                        <input asp-for="EachPrice" class="form-control" id="price" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-Cancel" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary" onclick="editProductDb('@Model.Id')">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>