@model IEnumerable<InventoryWeb.Core.Models.Domains.ProductsBase>

<div class="d-flex justify-content-center mt-5 mb-3">
    <h2>Baza produktów</h2>
</div>
<div class="d-flex justify-content-center">
    <a type="button" class="btn btn-sm btn-outline-dark mb-1" asp-controller="Inventory" asp-action="Inventory">Wstecz</a>
</div>
<table class="table table-bordered  text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kod</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var products in Model)
            {
                <tr>
                    <td>
                        @products.Id
                    </td>
                    <td>
                        @products.Code
                    </td>
                    <td>
                        @products.NameProductDb
                    </td>
                    <td>
                        <button class="btn btn-outline-danger btn-sm"
                                onclick="deleteInventory('@products.Id', this)">
                            Usuń
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="6">
                    Brak inwentaryzacji do wyświetlenia!
                </td>
            </tr>
        }
    </tbody>
</table>
